
/* ## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */

body{
padding: 0;
margin: 0;
box-sizing: border-box;
background-image: url(images/pattern-background-desktop.svg);
background-repeat: no-repeat;
background-size: cover;
background-color: hsla(225, 100%, 94%, 0.963) ;
font-family: 'Red Hat Display', sans-serif;
text-align: center;
}

 .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
      
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
}
.container .image {
    width: 100%;
}
.container .image img{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.info{
    text-align: center;
}
.info h2{
    margin-top: 1em;
    text-align: center;
    color: var(--dark-blue);
    font-weight: 900;
}
.info span{
    display: block;
    width: 300px;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.505);
    line-height: 1.5;
    margin:10px auto 
}

 .plan {
    background-color: rgba(51, 51, 51, 0.045);
    margin:10px auto ;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding:0 5px ;
    margin-top:20px ;
    margin-bottom:20px ;
}
.plan p {
    color:  hsl(224, 23%, 55%);
    margin-right:40px ;
    line-height: 1.5;
}
.plan span {
   display: block;
   color: rgba(51, 51, 51, 0.378);
}
.plan a{
    font-size: 20px;
    text-decoration: none;
    color: hsl(223, 47%, 23%);
    margin-left: 10px;
}
.container .pay {
    
    display: block;
    margin: 10px auto;
    border: none;
    background-color: hsl(224, 23%, 55%);
    width: 70%;
    padding: 13px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
    .container .pay:hover {
        background-color: hsl(245, 75%, 52%);
        color: white;
        box-shadow: 0 5px 20px  hsl(223, 47%, 23%);
    }
    .container .can {
border: none;
width: 70%;
padding: 10px;
font-size: 19px;
margin: 5px 0 30px;
cursor: pointer;
outline: none;
background-color: rgba(255, 255, 255, 0.074);
 
    }     
    